In [2]:
import pandas as pd
df=pd.read_csv('/home/arghanath/Documents/Machine Learning/Resources Folder/ML/9_decision_tree/Exercise/titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
# df=df.drop['PassengerId', 'Name','SibSp','Parch','Ticket','Cabin','Embarked']

TypeError: 'method' object is not subscriptable

In [11]:
df=df.drop('PassengerId', axis='columns')

KeyError: "['PassengerId'] not found in axis"

In [13]:
df=df.drop('Name', axis='columns')

In [15]:
df=df.drop('SibSp', axis='columns')
df=df.drop('Parch', axis='columns')
df=df.drop('Ticket', axis='columns')
df=df.drop('Cabin', axis='columns')
df=df.drop('Embarked', axis='columns')
df.head()

KeyError: "['SibSp'] not found in axis"

In [16]:
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [22]:
inputs=df.drop('Survived',axis='columns')
inputs.head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

In [31]:
from sklearn.preprocessing import LabelEncoder

In [32]:
le_sex=LabelEncoder()

In [34]:
inputs['Sex_n']=le_sex.fit_transform(inputs['Sex'])

In [35]:
inputs.head()

   Pclass     Sex   Age     Fare  Sex_n
0       3    male  22.0   7.2500      1
1       1  female  38.0  71.2833      0
2       3  female  26.0   7.9250      0
3       1  female  35.0  53.1000      0
4       3    male  35.0   8.0500      1

In [36]:
inputs_n=inputs.drop('Sex', axis='columns')

In [38]:
inputs_n.head()

   Pclass   Age     Fare  Sex_n
0       3  22.0   7.2500      1
1       1  38.0  71.2833      0
2       3  26.0   7.9250      0
3       1  35.0  53.1000      0
4       3  35.0   8.0500      1

In [39]:
targets=df.Survived
targets.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [73]:
from sklearn.model_selection import train_test_split

In [74]:
X_train, X_test, y_train, y_test= train_test_split(inputs_n, targets, test_size=0.2)

In [75]:
len(X_train)

712

In [76]:
len(X_test)

179

In [77]:
from sklearn import tree

In [78]:
model= tree.DecisionTreeClassifier()

In [79]:
inputs_n.head(100)

    Pclass   Age     Fare  Sex_n
0        3  22.0   7.2500      1
1        1  38.0  71.2833      0
2        3  26.0   7.9250      0
3        1  35.0  53.1000      0
4        3  35.0   8.0500      1
..     ...   ...      ...    ...
95       3  28.0   8.0500      1
96       1  71.0  34.6542      1
97       1  23.0  63.3583      1
98       2  34.0  23.0000      0
99       2  34.0  26.0000      1

[100 rows x 4 columns]

In [66]:
inputs_n['Age']

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [70]:
inputs_n['Age'].fillna(inputs_n['Age'].median(), inplace=True)

In [71]:
inputs_n['Age']

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888    28.0
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [80]:
model.fit(X_train, y_train)

DecisionTreeClassifier()

In [81]:
model.score(X_test, y_test)

0.7486033519553073

In [84]:
model.predict(X_test)

array([1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1,
       0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0,
       1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0,
       0, 0, 0])