In [1]:
import pandas as pd
df= pd.read_csv('C:\\Users\JohnWick\\Desktop\Machine Learning\\Resources Folder\\pandas\\2_dataframe_basics\\weather_data.csv')
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [10]:
import pandas as pd
weather_data= {
    'data': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,45,24,18,19, 15],
    'windspeed':[6,4,8,5,2,10],
    'event':['Rain', 'Sunny','Snow', 'Snow', 'Rain', 'Sunny']
    
}
df=pd.DataFrame(weather_data)
df

       data  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           45          4  Sunny
2  1/3/2017           24          8   Snow
3  1/4/2017           18          5   Snow
4  1/5/2017           19          2   Rain
5  1/6/2017           15         10  Sunny

In [12]:
df.shape

(6, 4)

In [14]:
rows, column= df.shape

In [15]:
rows

6

In [17]:
column

4

In [20]:
df.head()

       data  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           45          4  Sunny
2  1/3/2017           24          8   Snow
3  1/4/2017           18          5   Snow
4  1/5/2017           19          2   Rain

In [22]:
df.head(2)

       data  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           45          4  Sunny

In [23]:
df.tail()

       data  temperature  windspeed  event
1  1/2/2017           45          4  Sunny
2  1/3/2017           24          8   Snow
3  1/4/2017           18          5   Snow
4  1/5/2017           19          2   Rain
5  1/6/2017           15         10  Sunny

In [24]:
df.tail(1)

       data  temperature  windspeed  event
5  1/6/2017           15         10  Sunny

In [26]:
df[2:4]

       data  temperature  windspeed event
2  1/3/2017           24          8  Snow
3  1/4/2017           18          5  Snow

In [27]:
df

       data  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           45          4  Sunny
2  1/3/2017           24          8   Snow
3  1/4/2017           18          5   Snow
4  1/5/2017           19          2   Rain
5  1/6/2017           15         10  Sunny

In [28]:
df[:]

       data  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           45          4  Sunny
2  1/3/2017           24          8   Snow
3  1/4/2017           18          5   Snow
4  1/5/2017           19          2   Rain
5  1/6/2017           15         10  Sunny

In [29]:
df.columns

Index(['data', 'temperature', 'windspeed', 'event'], dtype='object')

In [30]:
df.temperature

0    32
1    45
2    24
3    18
4    19
5    15
Name: temperature, dtype: int64

In [31]:
df['temperature']

0    32
1    45
2    24
3    18
4    19
5    15
Name: temperature, dtype: int64

In [32]:
type(df['temperature'])

pandas.core.series.Series

In [35]:
df[['data', 'event', 'temperature']]

       data  event  temperature
0  1/1/2017   Rain           32
1  1/2/2017  Sunny           45
2  1/3/2017   Snow           24
3  1/4/2017   Snow           18
4  1/5/2017   Rain           19
5  1/6/2017  Sunny           15

In [36]:
df['temperature'].max()

45

In [37]:
df['temperature'].mean()

25.5

In [38]:
df['temperature'].min()

15

In [39]:
df['temperature'].std()

11.256109452204168

In [40]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     25.500000   5.833333
std      11.256109   2.857738
min      15.000000   2.000000
25%      18.250000   4.250000
50%      21.500000   5.500000
75%      30.000000   7.500000
max      45.000000  10.000000

In [41]:
df[df.temperature >=30]

       data  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           45          4  Sunny

In [42]:
df[df['temperature'] == df['temperature'].max()]

       data  temperature  windspeed  event
1  1/2/2017           45          4  Sunny

In [44]:
df['data, temperature'][df['temperature'] == df['temperature'].max()]

KeyError: 'data, temperature'

In [50]:
df[['data', 'temperature']][df['temperature'] == df['temperature'].max()]

       data  temperature
1  1/2/2017           45

In [51]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [52]:
df.set_index('data')

          temperature  windspeed  event
data
1/1/2017           32          6   Rain
1/2/2017           45          4  Sunny
1/3/2017           24          8   Snow
1/4/2017           18          5   Snow
1/5/2017           19          2   Rain
1/6/2017           15         10  Sunny

In [58]:
df

          temperature  windspeed  event
data
1/1/2017           32          6   Rain
1/2/2017           45          4  Sunny
1/3/2017           24          8   Snow
1/4/2017           18          5   Snow
1/5/2017           19          2   Rain
1/6/2017           15         10  Sunny

In [59]:
df.loc('1/3/2017')

ValueError: No axis named 1/3/2017 for object type DataFrame

In [60]:
df.loc['1/3/2017']

temperature      24
windspeed         8
event          Snow
Name: 1/3/2017, dtype: object

In [63]:
df.reset_index(inplace=True)

In [64]:
df

       data  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           45          4  Sunny
2  1/3/2017           24          8   Snow
3  1/4/2017           18          5   Snow
4  1/5/2017           19          2   Rain
5  1/6/2017           15         10  Sunny

In [65]:
df

       data  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           45          4  Sunny
2  1/3/2017           24          8   Snow
3  1/4/2017           18          5   Snow
4  1/5/2017           19          2   Rain
5  1/6/2017           15         10  Sunny

In [8]:
import pandas as pd
df1= pd.read_excel('C:\\Users\\JohnWick\\Desktop\\Machine Learning\\Resources Folder\\pandas\\3_different_ways_of_creating_dataframe\\weather_data.xlsx', 'Sheet1')
df1

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow