In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [2]:
df=pd.read_csv('/home/arghanath/Documents/Machine Learning/Resources Folder/ML/2_linear_reg_multivariate/homeprices.csv')
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [7]:
import math
medianBadrooms= math.floor(df['bedrooms'].median())
medianBadrooms

4

In [9]:
df.bedrooms= df.bedrooms.fillna(medianBadrooms)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [11]:
reg=linear_model.LinearRegression()
reg.fit(df[['area', 'bedrooms','age']], df.price)

LinearRegression()

In [12]:
reg.predict([[3000, 3,40]])

array([498408.25158031])

In [13]:
reg.predict([[2500, 4,5]])

array([578876.03748933])

In [16]:
reg.predict([[3000, 4,2]])

array([644602.4121863])

In [17]:
reg.predict([[2000, 7,5]])

array([593011.45675208])

In [18]:
reg.predict([[4200, 5,25]])

array([728136.71069624])

In [20]:
reg.predict([[4200, 5,5]])

array([783075.915143])