In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import math

In [3]:
df=pd.read_csv('/home/arghanath/Documents/Machine Learning/Resources Folder/ML/3_gradient_descent/Exercise/test_scores.csv')
df

     name  math  cs
0   david    92  98
1   laura    56  68
2  sanjay    88  81
3     wei    70  80
4    jeff    80  83
5   aamir    49  52
6  venkat    65  66
7   virat    35  30
8  arthur    66  68
9    paul    67  73

In [10]:
mathCol= df['math']
mathCol

0    92
1    56
2    88
3    70
4    80
5    49
6    65
7    35
8    66
9    67
Name: math, dtype: int64

In [14]:
dfMath= pd.DataFrame()
dfMath

Empty DataFrame
Columns: []
Index: []

In [12]:
dfMath

Empty DataFrame
Columns: [math]
Index: []