In [1]:
import pandas as pd
y=pd.Period('2020')
y

Period('2020', 'A-DEC')

In [2]:
dir(y)

['__add__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__pyx_vtable__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__weakref__',
 '_add_delta',
 '_add_offset',
 '_dtype',
 '_from_ordinal',
 '_get_to_timestamp_base',
 '_maybe_convert_freq',
 'asfreq',
 'day',
 'day_of_week',
 'day_of_year',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'end_time',
 'freq',
 'freqstr',
 'hour',
 'is_leap_year',
 'minute',
 'month',
 'now',
 'ordinal',
 'quarter',
 'qyear',
 'second',
 'start_time',
 'strftime',
 'to_timestamp',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [4]:
y.start_time

Timestamp('2020-01-01 00:00:00')

In [5]:
y.end_time

Timestamp('2020-12-31 23:59:59.999999999')

In [7]:
m=pd.Period('2021-1', freq='M')
m

Period('2021-01', 'M')

In [8]:
m.start_time

Timestamp('2021-01-01 00:00:00')

In [9]:
m.end_time

Timestamp('2021-01-31 23:59:59.999999999')

In [10]:
m+1

Period('2021-02', 'M')

In [14]:
d=pd.Period('2020-2-28', )
d

Period('2020-02-28', 'D')

In [15]:
d+1

Period('2020-02-29', 'D')

In [16]:
h=pd.Period('2020-2-28 23:00:00', freq='H' )
h

Period('2020-02-28 23:00', 'H')

In [17]:
h +1

Period('2020-02-29 00:00', 'H')

In [19]:
h + pd.offsets.Hour(5)

Period('2020-02-29 04:00', 'H')

In [21]:
q=pd.Period('2017Q1')
q

Period('2017Q1', 'Q-DEC')

In [22]:
q+1

Period('2017Q2', 'Q-DEC')

In [23]:
q+1

Period('2017Q2', 'Q-DEC')

In [24]:
q+2

Period('2017Q3', 'Q-DEC')

In [35]:
qNew=pd.Period('2017Q1', freq='Q-Jan')
qNew

Period('2017Q1', 'Q-JAN')

In [37]:
qNew.start_time

Timestamp('2016-02-01 00:00:00')

In [38]:
qNew.end_time

Timestamp('2016-04-30 23:59:59.999999999')

In [39]:
(qNew+3).end_time

Timestamp('2017-01-31 23:59:59.999999999')

In [34]:
qCheck=pd.Period('2020Q1')
qCheck

Period('2020Q1', 'Q-DEC')

In [40]:
qNew.asfreq('M', how='start')

Period('2016-02', 'M')

In [41]:
qNew.asfreq('M', how='end')

Period('2016-04', 'M')

In [43]:
q2=pd.Period('2020Q2', freq='Q-JAN')
q2

Period('2020Q2', 'Q-JAN')

In [44]:
q2-qNew

In [45]:
qNew

Period('2017Q1', 'Q-JAN')

In [46]:
q2-qCheck

IncompatibleFrequency: Input has different freq=Q-DEC from Period(freq=Q-JAN)

In [47]:
idx=pd.period_range('2019', '2021', freq='Q-DEC')
idx

PeriodIndex(['2019Q1', '2019Q2', '2019Q3', '2019Q4', '2020Q1', '2020Q2',
             '2020Q3', '2020Q4', '2021Q1'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [49]:
idxNew=pd.period_range('2019', '2021', freq='Q-JAN')
idxNew

PeriodIndex(['2019Q4', '2020Q1', '2020Q2', '2020Q3', '2020Q4', '2021Q1',
             '2021Q2', '2021Q3', '2021Q4'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [51]:
import numpy as np
ps=pd.Series(np.random.randn(len(idxNew)), idxNew)
ps

2019Q4   -0.145668
2020Q1    0.536195
2020Q2    0.203220
2020Q3    0.346021
2020Q4   -0.639685
2021Q1    0.760883
2021Q2    1.727328
2021Q3   -1.410461
2021Q4    0.438051
Freq: Q-JAN, dtype: float64

In [52]:
idxNew[0].start_time

Timestamp('2018-11-01 00:00:00')

In [53]:
ps.index

PeriodIndex(['2019Q4', '2020Q1', '2020Q2', '2020Q3', '2020Q4', '2021Q1',
             '2021Q2', '2021Q3', '2021Q4'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [55]:
ps['2020']

2020Q4   -0.639685
2021Q1    0.760883
2021Q2    1.727328
2021Q3   -1.410461
2021Q4    0.438051
Freq: Q-JAN, dtype: float64

In [56]:
ps['2019': '2020']

2019Q4   -0.145668
2020Q1    0.536195
2020Q2    0.203220
2020Q3    0.346021
2020Q4   -0.639685
2021Q1    0.760883
2021Q2    1.727328
2021Q3   -1.410461
2021Q4    0.438051
Freq: Q-JAN, dtype: float64

In [58]:
pst=ps.to_timestamp()
pst

2018-11-01   -0.145668
2019-02-01    0.536195
2019-05-01    0.203220
2019-08-01    0.346021
2019-11-01   -0.639685
2020-02-01    0.760883
2020-05-01    1.727328
2020-08-01   -1.410461
2020-11-01    0.438051
Freq: QS-NOV, dtype: float64

In [59]:
pst.index

DatetimeIndex(['2018-11-01', '2019-02-01', '2019-05-01', '2019-08-01',
               '2019-11-01', '2020-02-01', '2020-05-01', '2020-08-01',
               '2020-11-01'],
              dtype='datetime64[ns]', freq='QS-NOV')

In [60]:
pst.to_period()

2018Q4   -0.145668
2019Q1    0.536195
2019Q2    0.203220
2019Q3    0.346021
2019Q4   -0.639685
2020Q1    0.760883
2020Q2    1.727328
2020Q3   -1.410461
2020Q4    0.438051
Freq: Q-DEC, dtype: float64

In [75]:
exerciseDF=pd.read_csv('/home/arghanath/Documents/Machine Learning/Resources Folder/pandas/18_ts_period/wmt.csv')
exerciseDF

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [76]:
exerciseNewDF=exerciseDF.set_index('Line Item')
exerciseNewDF

           2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
Line Item
Revenue    115904  120854  118179  130936  117542
Expenses    86544   89485   87484   97743   87688
Profit      29360   31369   30695   33193   29854

In [77]:
exerciseDF

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [78]:
exerciseNewDF= exerciseNewDF.T
exerciseNewDF

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [79]:
exerciseNewDF.index

Index(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='object')

In [80]:
exerciseNewDF.index= pd.PeriodIndex(exerciseNewDF.index, freq='Q-JAN')
exerciseNewDF.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]', freq='Q-JAN')

In [82]:
exerciseNewDF['Start date']= exerciseNewDF.index.map(lambda item:  item.start_time)
exerciseNewDF

Line Item  Revenue  Expenses  Profit start date Start date
2017Q1      115904     86544   29360 2016-02-01 2016-02-01
2017Q2      120854     89485   31369 2016-05-01 2016-05-01
2017Q3      118179     87484   30695 2016-08-01 2016-08-01
2017Q4      130936     97743   33193 2016-11-01 2016-11-01
2018Q1      117542     87688   29854 2017-02-01 2017-02-01

In [83]:
exerciseNewDF['End date']= exerciseNewDF.index.map(lambda item:  item.end_time)
exerciseNewDF

Line Item,Revenue,Expenses,Profit,start date,Start date,End date
2017Q1,115904,86544,29360,2016-02-01,2016-02-01,2016-04-30 23:59:59.999999999
2017Q2,120854,89485,31369,2016-05-01,2016-05-01,2016-07-31 23:59:59.999999999
2017Q3,118179,87484,30695,2016-08-01,2016-08-01,2016-10-31 23:59:59.999999999
2017Q4,130936,97743,33193,2016-11-01,2016-11-01,2017-01-31 23:59:59.999999999
2018Q1,117542,87688,29854,2017-02-01,2017-02-01,2017-04-30 23:59:59.999999999