## Introduction To Scikit-Learn(SkLearn)

In [5]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

In [6]:
heart=pd.read_csv('./heart-disease.csv')
heart.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [7]:
X=heart.drop('target', axis='columns')
y=heart['target']

In [8]:
X.shape

(303, 13)

In [9]:
y.shape

(303,)

In [37]:
from sklearn.ensemble import RandomForestClassifier

clf=RandomForestClassifier()
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [11]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test=train_test_split(X,y, test_size=0.3)

In [12]:
clf.fit(X_train,y_train)

RandomForestClassifier()

In [13]:
y_predicts=clf.predict(X_test)
y_predicts

array([1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0,
       1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0,
       1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1,
       1, 1, 1])

In [14]:
clf.score(X_test,y_test)

0.8021978021978022

In [15]:
y_test

37     1
203    0
265    0
170    0
111    1
      ..
24     1
153    1
132    1
296    0
146    1
Name: target, Length: 91, dtype: int64

In [16]:
from sklearn.metrics import classification_report,confusion_matrix, accuracy_score

print(classification_report(y_test,y_predicts))

              precision    recall  f1-score   support

           0       0.76      0.72      0.74        36
           1       0.82      0.85      0.84        55

    accuracy                           0.80        91
   macro avg       0.79      0.79      0.79        91
weighted avg       0.80      0.80      0.80        91

In [17]:
confusion_matrix(y_test,y_predicts)

array([[26, 10],
       [ 8, 47]])

In [18]:
accuracy_score(y_test,y_predicts)

0.8021978021978022

#### Trying to improve the model

In [19]:
np.random.seed(42)

for i in range(100,1100,100):
    print(f" Trying model with {i} estimators...")
    model=RandomForestClassifier(n_estimators=i).fit(X_train,y_train)
    print(f" Model accuracy on test set: {model.score(X_test,y_test) * 100:.2f} %")
    print("")

 Trying model with 100 estimators...
 Model accuracy on test set: 76.92 %

 Trying model with 200 estimators...
 Model accuracy on test set: 79.12 %

 Trying model with 300 estimators...
 Model accuracy on test set: 78.02 %

 Trying model with 400 estimators...
 Model accuracy on test set: 79.12 %

 Trying model with 500 estimators...
 Model accuracy on test set: 78.02 %

 Trying model with 600 estimators...
 Model accuracy on test set: 79.12 %

 Trying model with 700 estimators...
 Model accuracy on test set: 76.92 %

 Trying model with 800 estimators...
 Model accuracy on test set: 76.92 %

 Trying model with 900 estimators...
 Model accuracy on test set: 76.92 %

 Trying model with 1000 estimators...
 Model accuracy on test set: 78.02 %

#### Saving the trained model to a file for future use

In [20]:
import pickle

pickle.dump(clf, open('random_forest_classifier_model.pkl', 'wb'))

#### Loading the saved model from a file

In [21]:
loaded_model=pickle.load(open('random_forest_classifier_model.pkl', 'rb'))
loaded_model.score(X_test,y_test)

0.8021978021978022

### Getting the data ready to be used by the machines for learning

#### The three ways are:-
##### 1) Splitting the data into features(X) and labels(y)
##### 2) Filling(imputing) or disregarding the missing values
##### 3)Converting the non-numerical values(strings) to numerical values(Feature encoding or engineering)

In [22]:
X=heart.drop('target', axis='columns')
y=heart['target']

In [24]:
heart.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [25]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [26]:
len(X_train)

212

In [27]:
len(X_test)

91

In [28]:
len(heart)

303

In [30]:
car=pd.read_csv('./car-sales-extended.csv')
car.head()

     Make Colour  Odometer (KM)  Doors  Price
0   Honda  White          35431      4  15323
1     BMW   Blue         192714      5  19943
2   Honda  White          84714      4  28343
3  Toyota  White         154365      4  13434
4  Nissan   Blue         181577      3  14043

In [31]:
len(car)

1000

In [32]:
car.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price             int64
dtype: object

In [33]:
X=car.drop('Price', axis='columns')
y=car['Price']

In [34]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [35]:
len(X_train)

700

In [36]:
len(X_test)

300

In [38]:
from sklearn.ensemble import RandomForestRegressor

clf=RandomForestRegressor()
clf.fit(X_train,y_train)
clf.score(X_test,y_test)

ValueError: could not convert string to float: 'Toyota'

##### Turning the string type categories into number/integer type

In [39]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features=['Make','Colour','Doors']
one_hot=OneHotEncoder()
transformer=ColumnTransformer([('one_hot',one_hot, categorical_features)] ,remainder='passthrough')

transform_X=transformer.fit_transform(X)
transform_X

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 8.47140e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 6.66040e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.15883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.48360e+05]])

In [40]:
pd.DataFrame(transform_X)

      0    1    2    3    4    5    6    7    8    9    10   11        12
0    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   35431.0
1    1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  192714.0
2    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   84714.0
3    0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  154365.0
4    0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  181577.0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...       ...
995  0.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0   35820.0
996  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0  155144.0
997  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0   66604.0
998  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  215883.0
999  0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  248360.0

[1000 rows x 13 columns]

In [41]:
len(pd.DataFrame(transform_X))

1000

In [42]:
dummies=pd.get_dummies(car[['Make','Colour','Doors']])

In [43]:
dummies

,Doors,Make_BMW,Make_Honda,Make_Nissan,Make_Toyota,Colour_Black,Colour_Blue,Colour_Green,Colour_Red,Colour_White
0,4,0,1,0,0,0,0,0,0,1
1,5,1,0,0,0,0,1,0,0,0
2,4,0,1,0,0,0,0,0,0,1
3,4,0,0,0,1,0,0,0,0,1
4,3,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...
995,4,0,0,0,1,1,0,0,0,0
996,3,0,0,1,0,0,0,0,0,1
997,4,0,0,1,0,0,1,0,0,0
998,4,0,1,0,0,0,0,0,0,1
999,4,0,0,0,1,0,1,0,0,0

In [44]:
X_train, X_test, y_train, y_test = train_test_split(transform_X, y, test_size=0.3)

In [45]:
np.random.seed(42)
from sklearn.ensemble import RandomForestRegressor

clf=RandomForestRegressor()
clf.fit(X_train,y_train)
clf.score(X_test,y_test)

0.22132100082406125

## Handling missing values in a dataset

### Two ways to handling the missing data:-

#### 1) Fill them with some value(imputation)
#### 2) Remove the samples with missing data altogether

In [46]:
car_missing=pd.read_csv('./car-sales-extended-missing-data.csv')
car_missing.head()

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

In [49]:
car_missing.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [51]:
len(car_missing.isna().sum())

5

In [53]:
len(car_missing.isna())

1000

In [55]:
X=car_missing.drop('Price', axis='columns')
y=car_missing['Price']

In [60]:
len(X)

1000

In [62]:
len(y)

1000

In [64]:
X

       Make Colour  Odometer (KM)  Doors
0     Honda  White        35431.0    4.0
1       BMW   Blue       192714.0    5.0
2     Honda  White        84714.0    4.0
3    Toyota  White       154365.0    4.0
4    Nissan   Blue       181577.0    3.0
..      ...    ...            ...    ...
995  Toyota  Black        35820.0    4.0
996     NaN  White       155144.0    3.0
997  Nissan   Blue        66604.0    4.0
998   Honda  White       215883.0    4.0
999  Toyota   Blue       248360.0    4.0

[1000 rows x 4 columns]

In [57]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features=['Make','Colour','Doors']
one_hot=OneHotEncoder()
transformer=ColumnTransformer([('one_hot',one_hot, categorical_features)] ,remainder='passthrough')

transform_X=transformer.fit_transform(X)
transform_X

<1000x16 sparse matrix of type '<class 'numpy.float64'>'
	with 4000 stored elements in Compressed Sparse Row format>

In [59]:
transform_X.shape

(1000, 16)

In [63]:
car_missing

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [65]:
transform_X

<1000x16 sparse matrix of type '<class 'numpy.float64'>'
	with 4000 stored elements in Compressed Sparse Row format>

#### Filling the missing data with pandas

In [67]:
car_missing['Make'].fillna('missing', inplace=True)
car_missing['Colour'].fillna('missing', inplace=True)
car_missing['Odometer (KM)'].fillna(car_missing['Odometer (KM)'].mean(), inplace=True)
car_missing['Doors'].fillna(4, inplace=True)

In [68]:
car_missing.isna().sum()

Make              0
Colour            0
Odometer (KM)     0
Doors             0
Price            50
dtype: int64

#### Removing the Price rows with empty values

In [69]:
car_missing.dropna(inplace=True)

In [70]:
car_missing.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

In [71]:
len(car_missing)

950

In [72]:
X=car_missing.drop('Price', axis='columns')
y=car_missing['Price']

In [73]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features=['Make','Colour','Doors']
one_hot=OneHotEncoder()
transformer=ColumnTransformer([('one_hot',one_hot, categorical_features)] ,remainder='passthrough')

transform_X=transformer.fit_transform(X)
transform_X

<950x15 sparse matrix of type '<class 'numpy.float64'>'
	with 3800 stored elements in Compressed Sparse Row format>

#### Fill missing values with SkLearn

In [88]:
car_missing2=pd.read_csv('./car-sales-extended-missing-data.csv')
car_missing2

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [89]:
car_missing2.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [90]:
type(car_missing2)

pandas.core.frame.DataFrame

In [100]:
car_missing2.dropna(subset=['Price'], inplace=True)
car_missing2.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
Price             0
dtype: int64

In [101]:
X=car_missing2.drop('Price', axis='columns')
y=car_missing2['Price']

#### Fill missing values with skLearn

In [102]:
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

In [104]:
# Fill categorical values with 'missing' and 'numerical' values with mean
cat_imputer=SimpleImputer(strategy='constant', fill_value='missing')
door_imputer=SimpleImputer(strategy='constant', fill_value=4)
num_imputer=SimpleImputer(strategy='mean')

cat_features=['Make','Colour']
door_feature=['Doors']
num_features=['Odometer (KM)']

imputer=ColumnTransformer([
    ('cat_imputer', cat_imputer, cat_features),
    ('door_imputer', door_imputer, door_feature),
    ('num_imputer', num_imputer, num_features),
])

transform_X=imputer.fit_transform(X)
transform_X

array([['Honda', 'White', 4.0, 35431.0],
       ['BMW', 'Blue', 5.0, 192714.0],
       ['Honda', 'White', 4.0, 84714.0],
       ...,
       ['Nissan', 'Blue', 4.0, 66604.0],
       ['Honda', 'White', 4.0, 215883.0],
       ['Toyota', 'Blue', 4.0, 248360.0]], dtype=object)

In [105]:
filled=pd.DataFrame(transform_X,columns=['Make','Colour','Doors','Odometer (KM)'])

In [106]:
filled

        Make Colour Doors Odometer (KM)
0      Honda  White   4.0       35431.0
1        BMW   Blue   5.0      192714.0
2      Honda  White   4.0       84714.0
3     Toyota  White   4.0      154365.0
4     Nissan   Blue   3.0      181577.0
..       ...    ...   ...           ...
945   Toyota  Black   4.0       35820.0
946  missing  White   3.0      155144.0
947   Nissan   Blue   4.0       66604.0
948    Honda  White   4.0      215883.0
949   Toyota   Blue   4.0      248360.0

[950 rows x 4 columns]

In [107]:
filled.isna().sum()

Make             0
Colour           0
Doors            0
Odometer (KM)    0
dtype: int64

In [108]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features=['Make','Colour','Doors']
one_hot=OneHotEncoder()
transformer=ColumnTransformer([('one_hot',one_hot, categorical_features)] ,remainder='passthrough')

transform_X=transformer.fit_transform(filled)
transform_X

<950x15 sparse matrix of type '<class 'numpy.float64'>'
	with 3800 stored elements in Compressed Sparse Row format>

In [110]:
np.random.seed(42)

from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(transform_X, y, test_size=0.3)

model=RandomForestRegressor()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.2396004790354026